# Ignorar la carpeta del entorno virtual
venv/

# Archivos de caché
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de VSCode (opcional)
.vscode/

# Archivos de entorno
.env

# Datos temporales
*.log
*.tmp
